.active-assign-table {
  .table-body .col {
    padding-bottom: 2rem;
  }
  .col-1 {
    width: 10%;
  }
  .col-2 {
    width: 10%;
  }
  // .col-3 {
  //   width: 12%;
  // }
  .col-3 {
    width: 10%;
  }
  .col-4 {
    width: 42%;
  }
  .col-5 {
    width: 10%;
  }
  .col-6 {
    width: 10%;
  }
  .col-7 {
    width: 8%;
  }
}