.jobs-table {
  .table-body .col {
    padding-bottom: 2rem;
  }
  .col-1 {
    width: 12%;
  }
  .col-2 {
    width: 12%;
  }
  .col-3 {
    width: 12%;
  }
  .col-4 {
    width: 30%;
  }
  .col-5 {
    width: 12%;
  }
  .col-6 {
    width: 12%;
  }
  .col-7 {
    width: 10%;
  }
}